In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('amazon.csv', index_col=0)
df2 = pd.read_csv('flipkart.csv', index_col=0)

In [3]:
df1['disc'] = df1['disc'].str.replace('% off)', "")
df1['disc']= df1['disc'].str.replace("(", "")
df1['stars'] = df1['stars'].str.replace("out of 5 stars", "")
df1['sales'] = df1['sales'].str.replace(",", "")
df1['price'] = df1['price'].str.replace(",", "")
df2['disc'] = df2['disc'].str.replace('% off)', "")
df2['disc']= df2['disc'].str.replace("(", "")
df2['stars'] = df2['stars'].str.replace("out of 5 stars", "")
df2['sales'] = df2['sales'].str.replace(",", "")
df2['price'] = df2['price'].str.replace(",", "")

In [4]:
df1

,title,price,stars,sales,disc
0,"Redmi 12C (Lavender Purple, 4GB RAM, 64GB Stor...",6999,3.9,8446,NaN
1,"Redmi 12C (Lavender Purple, 4GB RAM, 64GB Stor...",6999,3.9,8446,NaN
2,"OnePlus 11 5G (Titan Black, 16GB RAM, 256GB St...",61999,4.3,4245,NaN
3,"Redmi A2 (Aqua Blue, 2GB RAM, 32GB Storage) | ...",6299,3.8,4238,30
4,"realme C55 (Rainforest, 6GB RAM, 64 Storage) |...",10713,4.0,246,23
...,...,...,...,...,...
309,"Redmi 2GB RAM, 16GB Storage Mi 6A, Black",6999,4.1,97918,13
310,TECNO Phantom X2 Pro 5G Stardust Grey (12GB RA...,44999,3.6,185,27
311,"Oppo Reno4 Pro Silky White, 8GB RAM, 128GB Sto...",28200,4.3,881,26
312,Nokia G42 5G | Snapdragon® 480+ 5G | 50MP Trip...,12499,3.7,279,NaN
313,"OnePlus Nord 3 5G (Misty Green, 8GB RAM, 128GB...",33999,4.0,2047,NaN

In [5]:
df2

                                                 title  price stars sales disc
0    Redmi 12C (Lavender Purple, 4GB RAM, 64GB Stor...   6999  3.9   8446  NaN
1    Redmi 12C (Lavender Purple, 4GB RAM, 64GB Stor...   6999  3.9   8446  NaN
2    Redmi 12C (Lavender Purple, 4GB RAM, 64GB Stor...   6999  3.9   8446  NaN
3    OnePlus 11 5G (Titan Black, 16GB RAM, 256GB St...  61999  4.3   4245  NaN
4    OnePlus 11 5G (Titan Black, 16GB RAM, 256GB St...  61999  4.3   4245  NaN
..                                                 ...    ...   ...   ...  ...
375  Vivo V23 5G(Sunshine Gold, 12GB RAM, 256GB Sto...  33900  4.1    700   11
376  Samsung Galaxy S23 5G (Lavender, 8GB, 128GB St...  74999  4.5    913   17
377  Redmi 12C (Lavender Purple, 4GB RAM, 64GB Stor...   6999  3.9   8446   50
378  Nokia G42 5G | Snapdragon® 480+ 5G | 50MP Trip...  12499  3.7    279  NaN
379  OnePlus Nord 3 5G (Misty Green, 8GB RAM, 128GB...  33999  4.0   2047  NaN

[380 rows x 5 columns]

In [6]:
df1.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 314 entries, 0 to 313
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   314 non-null    object
 1   price   314 non-null    object
 2   stars   314 non-null    object
 3   sales   314 non-null    object
 4   disc    214 non-null    object
dtypes: object(5)
memory usage: 14.7+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 380 entries, 0 to 379
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   380 non-null    object
 1   price   380 non-null    object
 2   stars   380 non-null    object
 3   sales   380 non-null    object
 4   disc    260 non-null    object
dtypes: object(5)
memory usage: 17.8+ KB

In [7]:
df1['sales'] = pd.to_numeric(df1['sales'])
df1['stars'] = pd.to_numeric(df1['stars'])
df1['price'] = pd.to_numeric(df1['price'])
df1['disc'] = pd.to_numeric(df1['disc'])
df2['sales'] = pd.to_numeric(df2['sales'])
df2['stars'] = pd.to_numeric(df2['stars'])
df2['price'] = pd.to_numeric(df2['price'])
df2['disc'] = pd.to_numeric(df2['disc'])

In [8]:
df1.info()
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 314 entries, 0 to 313
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   314 non-null    object
 1   price   314 non-null    int64
 2   stars   314 non-null    float64
 3   sales   314 non-null    int64
 4   disc    214 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 14.7+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 380 entries, 0 to 379
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   380 non-null    object
 1   price   380 non-null    int64
 2   stars   380 non-null    float64
 3   sales   380 non-null    int64
 4   disc    260 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 17.8+ KB

In [9]:
df1dd = df1.drop_duplicates(subset = ['title', 'price', 'stars', 'sales', 'disc'], keep=False)

In [10]:
df2dd = df2.drop_duplicates(subset = ['title', 'price', 'stars', 'sales', 'disc'], keep=False)

In [11]:
df1dd

,title,price,stars,sales,disc
2,"OnePlus 11 5G (Titan Black, 16GB RAM, 256GB St...",61999,4.3,4245,NaN
3,"Redmi A2 (Aqua Blue, 2GB RAM, 32GB Storage) | ...",6299,3.8,4238,30.0
4,"realme C55 (Rainforest, 6GB RAM, 64 Storage) |...",10713,4.0,246,23.0
7,"Vivo Y02t (Sunset Gold, 4GB RAM, 64GB Storage)...",8999,4.0,109,44.0
9,"Redmi A2 (Aqua Blue, 4GB RAM, 64GB Storage) | ...",6799,3.8,4238,38.0
10,realme narzo 50i Prime (Dark Blue 4GB RAM+64GB...,7499,4.0,7302,25.0
13,"Redmi A2 (Classic Black, 4GB RAM, 64GB Storage...",6799,3.8,4238,38.0
15,"TECNO Spark 9 (Infinity Black, 4GB RAM,64GB St...",6999,3.9,6191,39.0
16,"Samsung Galaxy M34 5G (Waterfall Blue,8GB,256G...",20999,3.9,4667,26.0
17,"Samsung Galaxy M34 5G (Midnight Blue,8GB,256GB...",20999,3.9,4667,26.0
21,"Samsung Galaxy M34 5G (Midnight Blue,6GB,128GB...",16299,3.9,4667,NaN
23,"OnePlus 11 5G (Eternal Green, 16GB RAM, 256GB ...",9999,4.3,4245,NaN
69,"Redmi 12C (Matte Black, 6GB RAM, 128GB Storage...",9499,3.9,8446,41.0
72,"Lava Blaze 5G (Glass Green, 6GB RAM, UFS 2.2 1...",10999,4.0,5306,33.0
79,"HONOR 90 (Emerald Green, 12GB + 512GB) | India...",33999,3.8,398,32.0
80,"Samsung Galaxy M34 5G (Waterfall Blue,8GB,128G...",17999,3.9,4667,31.0
82,"realme narzo 50 (Speed Black, 6GB RAM+128GB St...",12899,4.2,18510,28.0
84,"Vivo Y56 5G (Black Engine, 8GB RAM, 128GB Stor...",18999,4.0,603,24.0
87,"OnePlus 11 5G (Titan Black, 8GB RAM, 128GB Sto...",9999,4.3,4245,NaN
90,"Redmi Note 12 (Ice Blue, 6GB RAM, 64GB Storage)",11998,3.7,96,37.0
92,"Samsung Galaxy S22 Ultra 5G (Burgundy, 12GB, 5...",98999,4.3,1589,31.0
93,"Redmi 12C (Mint Green, 4GB RAM, 128GB Storage)",8499,3.9,8446,43.0
104,TECNO Phantom V Flip 5G (Iconic Black 16GB RAM...,54999,4.7,86,24.0
284,"Lava Blaze Pro 5G (Radiant Pearl, 8GB RAM, 128...",12999,4.9,20,13.0
285,"LYF C459 (Black, 1GB RAM, 8GB ROM",3290,2.6,215,35.0
286,"Vivo Y16 (Drizzling Gold, 4GB RAM, 128GB Stora...",11999,4.0,150,29.0
287,"Samsung Galaxy A14 5G (Light Green, 4GB, 64GB ...",15999,3.8,1012,14.0
289,"Samsung Galaxy M14 5G (Berry Blue,6GB,128GB)|5...",13490,4.0,9425,29.0
295,realme narzo 50i Prime (Dark Blue 3 GB RAM +32...,7299,4.0,7302,19.0
297,"Samsung Galaxy Z Flip4 5G (Light Blue, 8GB RAM...",84999,4.0,4,21.0
298,"realme C30s (Stripe Blue, 2GB RAM, 32GB Storage)",6491,3.2,15,35.0
299,Nokia C32 with 50MP Dual Rear AI Camera | Toug...,8499,3.6,442,19.0
300,"Samsung Galaxy M33 5G (Mystique Green, 8GB, 12...",16999,4.1,33161,35.0
304,"realme C55 (Rainforest) 8GB RAM, 128GB Storage",13997,4.0,246,13.0
305,"Nothing Phone (2) 5G (White, 12GB RAM, 256GB S...",49989,3.7,21,9.0
306,"Vivo Y22 (Starlit Blue, 4GB RAM, 128GB Storage...",14499,4.1,55,24.0
308,"Micromax in 2C (Silver, 32 GB) (3 GB RAM)",5999,3.4,65,37.0
309,"Redmi 2GB RAM, 16GB Storage Mi 6A, Black",6999,4.1,97918,13.0
311,"Oppo Reno4 Pro Silky White, 8GB RAM, 128GB Sto...",28200,4.3,881,26.0

In [12]:
df2dd

,title,price,stars,sales,disc
41,"OnePlus 11 5G (Eternal Green, 16GB RAM, 256GB ...",9999,4.3,4245,NaN
125,"OnePlus 11 5G (Titan Black, 8GB RAM, 128GB Sto...",9999,4.3,4245,NaN
260,"Redmi Note 12 Pro 5G (Glacier Blue, 8GB RAM, 2...",21200,3.8,72,34.0
261,"Itel P40+ (4GB RAM+128GB ROM, 8GB* RAM with Me...",7999,3.7,164,17.0
262,"Motorola G82 5G (White Lily, 8GB RAM, 128GB St...",22799,3.7,54,12.0
263,"Samsung F14 5G (OMG Black, 6GB RAM, 128GB Stor...",13824,3.6,3,25.0
264,Nokia C22 | 3-Day Battery Life | 4GB RAM (2GB ...,7499,3.8,471,17.0
265,"realme GT Neo 3 (150W) (Asphalt Black, 12GB RA...",26950,5.0,1,41.0
266,"Vivo Y56 5G (Black Engine, 8GB RAM, 128GB Stor...",18999,4.0,603,24.0
269,Nokia 2660 Flip 4G Volte keypad Phone with Dua...,4449,3.8,2716,25.0
271,"Samsung Galaxy Note10+ (Aura Black, 12GB RAM, ...",53800,4.2,686,46.0
360,"realme C30s (Stripe Blue, 2GB RAM, 32GB Storage)",6491,3.2,15,35.0
362,"realme C30s (Stripe Black, 2GB RAM, 32GB Storage)",6489,2.5,6,35.0
364,"Samsung Galaxy S23 5G (Phantom Black, 8GB, 128...",74999,4.5,913,17.0
365,"iQOO 11 5G (Alpha, 16GB RAM, 256 GB Storage) |...",54999,4.3,938,18.0
366,"vivo Y100A 5G (Twilight Gold, 8GB RAM, 128GB S...",21999,4.2,9,27.0
367,"Samsung Galaxy S21 Plus 5G (Phantom Black, 8GB...",47899,4.0,524,53.0
369,"Redmi 12C (Mint Green, 4GB RAM, 64GB Storage) ...",6999,3.9,8446,NaN
370,"Lava Yuva 2 (3 GB RAM, UFS 2.2 64GB Storage) -...",6999,4.3,22,18.0
371,"Samsung Galaxy Z Flip5 5G (Mint, 8GB RAM, 512G...",109999,4.0,112,4.0
372,"Realme 10 (Clash White, 64 GB) (4 GB RAM)",10999,3.9,194,31.0
373,Mi 11X Cosmic Black 6GB RAM 128GB ROM Storage ...,21749,4.1,8494,36.0
374,"Samsung Galaxy M13 (Midnight Blue, 4GB, 64GB S...",9199,4.1,28269,39.0
375,"Vivo V23 5G(Sunshine Gold, 12GB RAM, 256GB Sto...",33900,4.1,700,11.0
376,"Samsung Galaxy S23 5G (Lavender, 8GB, 128GB St...",74999,4.5,913,17.0
377,"Redmi 12C (Lavender Purple, 4GB RAM, 64GB Stor...",6999,3.9,8446,50.0

In [13]:
df1dd.isna().sum()

title    0
price    0
stars    0
sales    0
disc     4
dtype: int64

In [14]:
df2dd.isna().sum()

title    0
price    0
stars    0
sales    0
disc     3
dtype: int64

In [15]:
df1dn = df1dd.dropna()

In [16]:
df2dn = df2dd.dropna()

In [17]:
df1dn.isna().sum()

title    0
price    0
stars    0
sales    0
disc     0
dtype: int64

In [18]:
df2dn.isna().sum()

title    0
price    0
stars    0
sales    0
disc     0
dtype: int64

In [19]:
df1dn

,title,price,stars,sales,disc
3,"Redmi A2 (Aqua Blue, 2GB RAM, 32GB Storage) | ...",6299,3.8,4238,30.0
4,"realme C55 (Rainforest, 6GB RAM, 64 Storage) |...",10713,4.0,246,23.0
7,"Vivo Y02t (Sunset Gold, 4GB RAM, 64GB Storage)...",8999,4.0,109,44.0
9,"Redmi A2 (Aqua Blue, 4GB RAM, 64GB Storage) | ...",6799,3.8,4238,38.0
10,realme narzo 50i Prime (Dark Blue 4GB RAM+64GB...,7499,4.0,7302,25.0
13,"Redmi A2 (Classic Black, 4GB RAM, 64GB Storage...",6799,3.8,4238,38.0
15,"TECNO Spark 9 (Infinity Black, 4GB RAM,64GB St...",6999,3.9,6191,39.0
16,"Samsung Galaxy M34 5G (Waterfall Blue,8GB,256G...",20999,3.9,4667,26.0
17,"Samsung Galaxy M34 5G (Midnight Blue,8GB,256GB...",20999,3.9,4667,26.0
69,"Redmi 12C (Matte Black, 6GB RAM, 128GB Storage...",9499,3.9,8446,41.0
72,"Lava Blaze 5G (Glass Green, 6GB RAM, UFS 2.2 1...",10999,4.0,5306,33.0
79,"HONOR 90 (Emerald Green, 12GB + 512GB) | India...",33999,3.8,398,32.0
80,"Samsung Galaxy M34 5G (Waterfall Blue,8GB,128G...",17999,3.9,4667,31.0
82,"realme narzo 50 (Speed Black, 6GB RAM+128GB St...",12899,4.2,18510,28.0
84,"Vivo Y56 5G (Black Engine, 8GB RAM, 128GB Stor...",18999,4.0,603,24.0
90,"Redmi Note 12 (Ice Blue, 6GB RAM, 64GB Storage)",11998,3.7,96,37.0
92,"Samsung Galaxy S22 Ultra 5G (Burgundy, 12GB, 5...",98999,4.3,1589,31.0
93,"Redmi 12C (Mint Green, 4GB RAM, 128GB Storage)",8499,3.9,8446,43.0
104,TECNO Phantom V Flip 5G (Iconic Black 16GB RAM...,54999,4.7,86,24.0
284,"Lava Blaze Pro 5G (Radiant Pearl, 8GB RAM, 128...",12999,4.9,20,13.0
285,"LYF C459 (Black, 1GB RAM, 8GB ROM",3290,2.6,215,35.0
286,"Vivo Y16 (Drizzling Gold, 4GB RAM, 128GB Stora...",11999,4.0,150,29.0
287,"Samsung Galaxy A14 5G (Light Green, 4GB, 64GB ...",15999,3.8,1012,14.0
289,"Samsung Galaxy M14 5G (Berry Blue,6GB,128GB)|5...",13490,4.0,9425,29.0
295,realme narzo 50i Prime (Dark Blue 3 GB RAM +32...,7299,4.0,7302,19.0
297,"Samsung Galaxy Z Flip4 5G (Light Blue, 8GB RAM...",84999,4.0,4,21.0
298,"realme C30s (Stripe Blue, 2GB RAM, 32GB Storage)",6491,3.2,15,35.0
299,Nokia C32 with 50MP Dual Rear AI Camera | Toug...,8499,3.6,442,19.0
300,"Samsung Galaxy M33 5G (Mystique Green, 8GB, 12...",16999,4.1,33161,35.0
304,"realme C55 (Rainforest) 8GB RAM, 128GB Storage",13997,4.0,246,13.0
305,"Nothing Phone (2) 5G (White, 12GB RAM, 256GB S...",49989,3.7,21,9.0
306,"Vivo Y22 (Starlit Blue, 4GB RAM, 128GB Storage...",14499,4.1,55,24.0
308,"Micromax in 2C (Silver, 32 GB) (3 GB RAM)",5999,3.4,65,37.0
309,"Redmi 2GB RAM, 16GB Storage Mi 6A, Black",6999,4.1,97918,13.0
311,"Oppo Reno4 Pro Silky White, 8GB RAM, 128GB Sto...",28200,4.3,881,26.0

In [20]:
df2dn

,title,price,stars,sales,disc
260,"Redmi Note 12 Pro 5G (Glacier Blue, 8GB RAM, 2...",21200,3.8,72,34.0
261,"Itel P40+ (4GB RAM+128GB ROM, 8GB* RAM with Me...",7999,3.7,164,17.0
262,"Motorola G82 5G (White Lily, 8GB RAM, 128GB St...",22799,3.7,54,12.0
263,"Samsung F14 5G (OMG Black, 6GB RAM, 128GB Stor...",13824,3.6,3,25.0
264,Nokia C22 | 3-Day Battery Life | 4GB RAM (2GB ...,7499,3.8,471,17.0
265,"realme GT Neo 3 (150W) (Asphalt Black, 12GB RA...",26950,5.0,1,41.0
266,"Vivo Y56 5G (Black Engine, 8GB RAM, 128GB Stor...",18999,4.0,603,24.0
269,Nokia 2660 Flip 4G Volte keypad Phone with Dua...,4449,3.8,2716,25.0
271,"Samsung Galaxy Note10+ (Aura Black, 12GB RAM, ...",53800,4.2,686,46.0
360,"realme C30s (Stripe Blue, 2GB RAM, 32GB Storage)",6491,3.2,15,35.0
362,"realme C30s (Stripe Black, 2GB RAM, 32GB Storage)",6489,2.5,6,35.0
364,"Samsung Galaxy S23 5G (Phantom Black, 8GB, 128...",74999,4.5,913,17.0
365,"iQOO 11 5G (Alpha, 16GB RAM, 256 GB Storage) |...",54999,4.3,938,18.0
366,"vivo Y100A 5G (Twilight Gold, 8GB RAM, 128GB S...",21999,4.2,9,27.0
367,"Samsung Galaxy S21 Plus 5G (Phantom Black, 8GB...",47899,4.0,524,53.0
370,"Lava Yuva 2 (3 GB RAM, UFS 2.2 64GB Storage) -...",6999,4.3,22,18.0
371,"Samsung Galaxy Z Flip5 5G (Mint, 8GB RAM, 512G...",109999,4.0,112,4.0
372,"Realme 10 (Clash White, 64 GB) (4 GB RAM)",10999,3.9,194,31.0
373,Mi 11X Cosmic Black 6GB RAM 128GB ROM Storage ...,21749,4.1,8494,36.0
374,"Samsung Galaxy M13 (Midnight Blue, 4GB, 64GB S...",9199,4.1,28269,39.0
375,"Vivo V23 5G(Sunshine Gold, 12GB RAM, 256GB Sto...",33900,4.1,700,11.0
376,"Samsung Galaxy S23 5G (Lavender, 8GB, 128GB St...",74999,4.5,913,17.0
377,"Redmi 12C (Lavender Purple, 4GB RAM, 64GB Stor...",6999,3.9,8446,50.0

In [21]:
df1dn.to_csv("amazon_cleandata.csv")
df2dn.to_csv("flipkart_cleandata.csv")